# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# CSV Files (privacy and storage reasons)
*.csv
dashboard/data/

# Environments
.venv/
venv/
ENV/
env/
.env

# IDEs
.idea/
.vscode/
.DS_Store
